body{
    background-color: lightgray;
    margin: 0;
}

.container{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    text-align:justify;
}

header{
    background-color: ghostwhite;
    padding: 20px 0;    
    
}


.link{
    font-size: 11px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    text-align: center;
    margin: auto 25px ;
    text-decoration: none;
    
}

.link:hover{
    color: #8FBC8F;
}

.welcome{
    font-size: 18px;
    margin-left: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: dimgrey;
    font-weight: 400;
}

.bigword{
    font-size: 55px;
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:black;
}

.here{
    color:red;
    text-decoration: none;
}

table{
    margin: auto;
}

.face{
    width: 300px;
}

p{
    color:white;
}

a{
    color: lightslategray;
}

.title{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.paragraph{
    color: rgb(32, 32, 32);
    border: 20%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
